/* body{
    background-color: aliceblue;
<<<<<<< HEAD
} */

.product-card {

=======
}

.product-img{
    height: 160px;
    width: 160px;
    padding: 5px;
}

.product-card{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    width: 180px;
    position: relative;
    padding: 3px;
    box-shadow: -8px 17px 9px -7px rgba(0,0,0,0.2);
}



.product-card:hover {
    box-shadow: -8px 17px 9px -7px rgba(0,0,0,0.2);
>>>>>>> main
}
