.footer-container {
    /* position: sticky; */
    display: flex;
    background-color: var(--accent1);
    margin-top: 1px;
    margin-bottom: -10px;
    margin-left: -8px;
    margin-right: -10px;
    justify-content: space-evenly;
  }

  .linkedin-container {
      display: flex

  }

.troy-link {
    display: flex
  }

.drew-link {
    display: flex
  }

.nat-link {
    display:flex
  }
