.navigation-bar-container {
    display: flex;
    justify-content: space-between;
}

.interface-buttons {
    display:flex;
}

.login-button {
    display: flex;
    background: none;
    border: none
}
.fas.fad{
    margin:2px;
}